{% extends 'home/index.html' %}
{% block content %}
<main class="container">
    {% if user.is_authenticated %}
    <h1>Appointments</h1>
    {% if reminders_12hours %}
    <div style ="background-color:#f8d7da; padding:12px; margin-bottom:15px; border-radius:6px;">
        <strong> Appointments within the next 12 hours:</strong>
        <ul>
            {% for appointment in reminders_12hours %}
            <li>
                {{ appointment.doctor }} -
             {{ appointment.date }} at {{ appointment.time }}
            </li>
            {% endfor %}
        </ul>
</div>
{% endif %}
{% if reminders_24hours %}
    <div style ="background-color:#fff3cd; padding:12px; margin-bottom:15px; border-radius:6px;">
        <strong> Appointments within the next 24 hours:</strong>
        <ul>
            {% for appointment in reminders_24hours %}
            <li>
                {{ appointment.doctor }} -
             {{ appointment.date }} at {{ appointment.time }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<ul>
        {% for appointment in appointments %}
        <li>
            <a href="{% url 'appointment_detail' appointment.pk %}">{{ appointment|linebreaksbr }}</a></li>
        {% empty %}
        <li>No appointments scheduled.</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'appointment_create' %}">Add a new appointment {% include './icons/plus-circle.svg' %}</a></p>
    {% endif %}
</main>
{% endblock %}
